<form>
  <div class="form-group">
    <input type="text" ng-model="shroomFilter" placeholder="Search Here">
  </div>
  <div class="form-group">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default poisonButton" ng-click="myFilter=false">Poisonous</button>
      <button type="button" class="btn btn-default nonPoisonButton" ng-click="myFilter=true">Non-Poisonous</button>
    </div>
  </div>
</form>

<ul>
  <li ng-repeat="mushroom in mushrooms | filter: shroomFilter | filter: myFilter"><span ng-repeat="(mushName, value) in mushroom"><strong>{{mushName}}</strong><p>{{value.description}}</p></span></li>
</ul>
